<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838600922546-uchlu00ok198lukf1a0apsa2pokfrqjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838600922546-uchlu00ok198lukf1a0apsa2pokfrqjl</string>
	<key>API_KEY</key>
	<string>AIzaSyAIAEWh2oL0hloAMyboLnyDCCtX-YXns1c</string>
	<key>GCM_SENDER_ID</key>
	<string>838600922546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junjieyang.where</string>
	<key>PROJECT_ID</key>
	<string>where-6c138</string>
	<key>STORAGE_BUCKET</key>
	<string>where-6c138.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838600922546:ios:04f057aa26d617b18840ab</string>
</dict>
</plist>